.searchBox{
    width: 100%;
}
.searchForm{
    width: 79%;
    margin-left: 10%;
}

.searchButton{
    width: 101%;
    margin-left: 0%;
    border: solid 1px transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em 1em;
    color: #000080;
    background-color: #fde428;
    font-size:1.1em;
}

@media only screen and (max-width: 1000px) {
    .searchButton{
        width: 103%;
    }
}